name: GitHub 3D Profile

on:
  schedule:
    - cron: "0 18 * * *" # Har kuni 23:00 Tashkent vaqti (UTC+5)
  workflow_dispatch:

permissions:
  contents: write  # Bu qatlam GitHub Actions-ga fayllarni o'zgartirish ruxsatini beradi

jobs:
  build:
    runs-on: ubuntu-latest
    name: Generate 3D Profile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate 3D Contribution Profile
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add profile-3d-contrib/
          git commit -m "Generated 3D Contribution Profile" || exit 0
          
          git pull --rebase origin main
          git push origin main
